allure-results/
screenshots/
screenshot/
test-output/
build/
reports/


application.log
.mtj.tmp/

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## OS X
##############################
.DS_Store
